@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background-color: chocolate;
    color: #fff;
    padding: 20px;

}
